{% extends 'shop_app/base.html' %}

{% block title %}Список авторов{% endblock %}

{% block content %}
        <h1>Список категорий</h1>
        <ul class="list-group">
            {% for category in categories %}
                {% if category.parent_category == None %}
                    <li class="list-group-item">
                    {% if category.category_set.count == 0 %}
                        <h2>
                            <p>{{ category.name}}</p>
                            <p>{{ category.description}}</p>
                        </h2>
                    {% else %}
                        <h2>
                            <p>{{ category.name}}</p>
                        </h2>
                        {% for category_i in category.category_set.all %}
                            <small><p>{{ category_i.name}}</p></small>
                        {% endfor %}

                    {% endif %}
                    </li>
                {% endif %}
            {% empty %}
                 <li class="list-group-item">Нет категорий</li>
            {% endfor %}

        </ul>
{% endblock %}