{% extends 'shop_app/base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<h1>{{ product.title}}</h1>


<p>Описание: {{product.description}}</p>
<p>Характеристики: {{ product.specifications }}</p>
<p>Цена: {{product.price}} руб.</p>
<small>Категория:
    {% if product.category.parent_category != None %}
    {{ product.category.parent_category }} ->
    {{ product.category }}
    {% else %}
    {{ product.category }}
    {% endif %}
</small>
<p>
    <small>Количество: {{ product.stock_quantity }}</small>
</p>

{% endblock %}