{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша корзина для покупок
{% endblock %}
{% block content %}
<h1>Список заказов</h1>
    <ul class="list-group">
        {% for order, order_items in orders.items %}
            <h1 class="text-center">Заказ №{{order.id}}</h1>
            <table class="order">
                <thead>
                <tr>
                    <th style="width: 300px; text-align: center">Изображение</th>
                    <th style="width: 350px; text-align: center">Товар</th>
                    <th style="width: 50px; text-align: center">Количество</th>
                    <th style="width: 200px; text-align: center">Цена за единицу</th>
                    <th style="width: 200px; text-align: center">Скидка</th>
                    <th style="width: 200px; text-align: center">Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order_items %}
                    {% with product=item.product %}
                        <tr>
                            <td style="width: 300px; text-align: center"><img src="/{{ product.img }}" width="100" height="100"></td>
                            <td style="width: 350px; text-align: center">{{ product.title }} {{product.specifications}}</td>
                            <td style="width: 50px; text-align: center">{{ item.quantity }}</td>
                            <td class="num" style="width: 200px; text-align: center">{{ item.unit_price }} руб.</td>
                            <td class="num" style="width: 200px; text-align: center">{{ item.discount }} %</td>
                            <td class="num" style="width: 200px; text-align: center">{{ item.total_price }} руб.</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td style="width: 200px; text-align: center">Всего</td>
                    <td colspan="4"></td>
                    <td class="num" style="width: 200px; text-align: center;font-weight:700">{{ order.total_amount }} руб.</td>
                </tr>
                </tbody>
            </table>
        {% empty %}
            <li class="list-group-item">У вас еще нет заказов</li>
        {% endfor %}
    </ul>
{% endblock %}