{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваш заказ №{{order.id}}
{% endblock %}
{% block content %}
    <h1 class="text-center">Ваш заказ №{{order.id}}</h1>
    <table class="order">
        <thead>
        <tr>
            <th style="width: 300px; text-align: center">Изображение</th>
            <th style="width: 350px; text-align: center">Товар</th>
            <th style="width: 50px; text-align: center">Количество</th>
            <th style="width: 200px; text-align: center">Цена за единицу</th>
            <th style="width: 200px; text-align: center">Скидка</th>
            <th style="width: 200px; text-align: center">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {% with product=item.product %}
                <tr>
                    <td style="width: 300px; text-align: center"><img src="/{{ product.img }}" width="100" height="100"></td>
                    <td style="width: 350px; text-align: center">{{ product.title }} {{product.specifications}}</td>
                    <td style="width: 50px; text-align: center">{{ item.quantity }}</td>
                    <td class="num" style="width: 200px; text-align: center">{{ item.unit_price }} руб.</td>
                    <td class="num" style="width: 200px; text-align: center">{{ item.discount }} %</td>
                    <td class="num" style="width: 200px; text-align: center">{{ item.total_price }} руб.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td style="width: 200px; text-align: center">Всего</td>
            <td colspan="4"></td>
            <td class="num" style="width: 200px; text-align: center;font-weight:700">{{ order.total_amount }} руб.</td>
        </tr>
        </tbody>
    </table>
    <p>
        <form method="post">
            {% csrf_token %}
            <div style="display: flex">
                <p>
                    <label for="id_zip_code" style="width: 80px">Индекс:</label>
                    <label type="text" name="zip_code" required id="id_zip_code" style="width: 120px">{{address.zip_code}}</label>
                </p>
                <p>
                    <label for="id_country" style="width: 80px">Страна:</label>
                    <label type="text" name="country" required id="id_country" style="width: 120px">{{address.country}}</label>
                </p>
                <p>
                    <label for="id_state" style="width: 80px">Область:</label>
                    <label type="text" name="state" required id="id_state" style="width: 180px">{{address.state}}</label>
                </p>
                <p>
                    <label for="id_city" style="width: 80px">Город:</label>
                    <label type="text" name="city" required id="id_city" style="width: 150px">{{address.city}}</label>
                </p>
                <p>
                    <label for="id_address_line" style="width: 80px">Адрес:</label>
                    <label type="text" name="address_line" required id="id_address_line" style="width: 420px">{{address.address_line}}</label>
                </p>
            </div>


        </form>
    </p>

{% endblock %}