<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<header>
    {% block user_auth %}
    {% endblock %}
    {% include 'menu.html' %}

</header>


    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 Строительные товары. Все права защищены.</p>
    </footer>

    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>